# Игнорировать директорию .idea (от редактора PyCharm)
.idea/

# Игнорировать модели и большие файлы
*.h5
*.ckpt
*.pkl
*.tflite

# Игнорировать сгенерированные файлы
.gitattributes
main.py  # Если вы не хотите отслеживать main.py
